{{template "header"}}
<h1>apply</h1>

{{template "nav-main"}}

<form action="/apply" method="post">

    <label for="fnm">FIRST NAME</label>
    <input type="text" name="fName" id="fnm">

    <input type="submit">

</form>

{{template "footer"}}